<!-- home/templates/home/home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Django Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div>
        <h1>Let's hack the hackaton!</h1>
        <h3>Translation</h3>
        <form action="{% url 'translate_to_french' %}" method="post">
            {% csrf_token %}
            <label for="input_text">Enter text:</label>
            <input type="text" id="input_text" name="input_text" placeholder="Enter text" required>
            <button type="submit">Translate to French</button>
        </form>
        {% if translation_result %}
        <div class="result">
            <h4>Translation Result:</h4>
            <p>{{ translation_result }}</p>
        </div>
        {% endif %}
    </div>
</body>

</html>
